* {
    margin: 0;
    padding: 0;
}

#contenedor {
    font-family: 'Courier New', Courier, monospace;
    width: 1200px;
    height: 1170px;
    background-color: #335f92;
    text-align: center;
    margin: 0.5em auto;
    padding: 0.5em;
}

#header {
    height: 5%;
    background: #e1ad2f;
}

#header a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 100px;
}

.nav-menu {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    padding: 20px 0;
}

#header ul {
    list-style: none;
}

#contenido {
    height: 90%;
    background: #f50003;
}

.derecha {
    width: 25%;
    height: 90%;
    background: #9ba4f5;
    display: inline;
    float: right;
}

.izquierda {
    width: 75%;
    height: 90%;
    background-color: #335f92;
    float: left;
    display: flex;
    flex-wrap: wrap;
}

#footer {
    height: 17%;
    background: #a4f575;
    margin: 1px;
    width: 91.5%;
    float: left;
    padding: 50px;
}

.izquierda .contenido2 a {
    text-decoration: none;
    border: 2px solid #335f92;
    border-radius: 5px;
    padding: 10px;
    background-color: #335f92;
    box-shadow: 0px 1px 10px rgba(29, 110, 233, 0.2);
}

.izquierda .contenido2 p {
    margin-bottom: 20px;
    padding: 10px;
}

.izquierda .contenido2 a :hover {
    box-shadow: 0px 1px 10px rgba(29, 110, 233, 0.2);
}

.card {
    padding: 7px;
    overflow: hidden;
    background: #2D3E50;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    width: 22%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translate(-3%);
}

.card img {
    width: 100%;
    height: 100px;
}

.card h3 {
    padding: 3px;
    text-align: left;
}

.card p {
    padding: 3px;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
}

.contenido2 {
    text-align: center;
}


/*Pagina Web*/

#campo1 {
    width: 100%;
    height: 30%;
    background: #333132;
    float: left;
    align-items: center;
}

#campo1 p {
    font-size: 20px;
    text-align: justify;
    padding: 20px;
}

#campo1 h2 {
    font-size: 20px;
    text-align: justify;
    padding: 5px;
}

#campo2 {
    width: 28%;
    height: 30%;
    background: #0d5c48;
    float: right;
}

#campo3 {
    width: 70%;
    height: 30%;
    color: #f50003;
    float: left;
    margin: 10px 10px;
    border: #fff;
}

#campo4 {
    width: 70%;
    height: 20%;
    background: #fff;
    margin: 5px 5px;
    float: left;
}

h3 {
    font-size: 12px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
    margin-top: 30px;
    text-align: justify;
    margin: 16px;
}

h4 {
    font-size: 24px;
    align-items: baseline;
}

.fecha {
    text-align: left;
    margin: 16px;
}

.fecha h2 {
    padding: 10px;
}

.video {
    width: 90%;
    margin: 20px;
}

.campo3 .ol {
    display: flex;
    color: #f50003;
}

#campo3 ul {
    display: flex;
}


/*Derecha*/

.derecha .derechacontenido {
    background: #627a4b;
    border: solid 1px #494043;
    vertical-align: middle;
    text-align: center;
    height: 16em;
    margin: 10px;
}

.derecha .derechacontenido img {
    height: 100px;
    width: 100px;
    margin: 10px
}

.derecha .derechacontenido h3 {
    margin: 5px;
}

.derecha .derechacontenido p {
    margin: 5px 10px;
    text-align: justify;
    margin-bottom: 5px;
}

.derecha .derechacontenido a {
    display: inline;
    margin-top: 10px;
    border: 0;
    background: #335f92;
    border: solid 1px #494043;
    padding: 2px 10px;
    border-radius: 10px;
    text-decoration: none;
}

.derecha .derechacontenido a:hover {
    background: #a6f59b;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 3);
}

.derechacontenido h3 {
    font-size: 25px;
    text-align: center;
}


/*Footer*/

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
}

.box__footer {
    display: flex;
    flex-direction: column;
}

.terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
    text-align: justify;
}

.box__footer h2 {
    margin-bottom: 0px;
    color: #343434;
    font-weight: 700;
}

.box__footer a {
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
    text-align: left;
}

.box__footer p {
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
    text-align: left;
}

.box__footer a .fab {
    font-size: 20px;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr {
    margin-top: 10px;
    height: 1px;
    background-color: #7a7a7a;
}